/* começo skill bar - main*/

.habilidades{
    margin: .75rem 0 .1rem .75rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;

}
.skill-container{
    background-color: rgb(220, 221, 211) ;
    border-radius: 1rem;
    height: 20px;
    width: 100%;
    
}  

.skill{
    background: linear-gradient(90deg, rgba(242,90,41,1) 0%, rgba(191,30,46,1) 100%);
    height: 100%;
    font-size:  1.25rem;
    color: white;
    border-radius: 1rem;
    display:flex;
}
span{margin: auto;}

.row{
    float: left;
    width: 450px;
    margin-left: 150px;
}

.logo{
    height: 35px;
    width: 35px;
    
}
.text{
  padding: 5px;
  text-align: left top;
}

.photoshop{width: 80%;}
.illustrator{width: 70%;}
.indesign{width: 60%;}
.css3{width: 65%;}
.html5{width: 75%;}
.javascript{width: 45%;}
.xd{width: 50%;}
.git{width: 35%;}


.load{
    animation: loading 1s linear;
}
@keyframes loading{
    0%{width: 0%;}

}
/* fim do skill bar main*/

.rodape p{
    text-align: ;
    font-size: 14px;
}